@import url("../css/fonts.css");

body {
  font-family: yekanbakh;
  background-color: #e4e4e4;
}
.fa-num {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}
