@import url("../css/fonts.css");

html {
  scroll-behavior: smooth;
}
body {
  font-family: yekanbakh;
  background-color: #e4e4e4;
}
.fa-num {
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
}
/* ::-webkit-scrollbar {
  appearance: none;
  width: 0;
} */
